streamlit
pandas
yfinance
selenium
webdriver-manager
lxml
html5lib
twstock
plotly>=5.20.0
git+https://github.com/M1229012/streamlit-lightweight-charts
pytz
numpy
nest_asyncio
seleniumbase
mplfinance
matplotlib
PyVirtualDisplay>=3.0
